@model AuthenticationExample.Web.ViewModels.SessionViewModel

@{
	ViewBag.Title = "Log in";
}

<h2>Log in</h2>

@using (Html.BeginForm("Create", "Session")) {
	<fieldset>
		<p>
			@Html.LabelFor(x => x.Username)
			@Html.TextBoxFor(x => x.Username)
			@Html.ValidationMessageFor(x => x.Username)
		</p>

		<p>
			@Html.LabelFor(x => x.Password)
			@Html.PasswordFor(x => x.Password)
			@Html.ValidationMessageFor(x => x.Password)
		</p>

		@Html.ValidationSummary(true)

		<p>
			<button type="submit">Sign in</button>
		</p>

		@Html.Hidden("ReturnUrl", Model.ReturnUrl)
	</fieldset>
}
